@import "tailwindcss";

.background{
    background-color: #151312;
}

.nav-bg{
    background-color: rgba(36, 36, 36, 0.808);
}

.font-color1{
    color: rgba(182, 180, 189, 0.2);
}

.border-color{
    border-color: rgba(182, 180, 189, 0.2) ;
}

.border-color:hover{
    border-color: rgb(207, 60, 7);
}